<div class="jumbotron">
    <div class="conatiner">
        <div class="row">
            <div class="col-md-6 offset-md-3" *ngIf="regForm">
                <h3>Registration Form</h3>
                <form [formGroup]="signUpform" (ngSubmit)="onsubmitSignUp()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" placeholder="Enter Your Name" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="mob">Mobile Number</label>
                        <input type="text" class="form-control" placeholder="Enter Your Phone no" formControlName="mobNumber">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" placeholder="Enter Your Age" formControlName="age">
                    </div>
                    <div class="form-group">
                        <label for="dob">Date Of Birth</label>
                        <input type="date" class="form-control" placeholder="Enter Your DOB" formControlName="dob">
                    </div>
                    <!--------NewRow---------->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" placeholder="Enter your email" formControlName="email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" placeholder="Enter your password" formControlName="password">
                        </div>
                        <div class="form-group ">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" placeholder="Enter your street" formControlName="addLine1">
                        </div>
                        <div class="form-group ">
                            <label for="address 2">Address 2</label>
                            <input type="text" class="form-control" placeholder="Enter your appartment/floor" formControlName="addLine2">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" placeholder="Enter your City" formControlName="city">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="state">Sate</label>
                            <input type="text" class="form-control" placeholder="Enter your State" formControlName="state">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="zip">Zip Code</label>
                            <input type="text" class="form-control" placeholder="Enter your Zip Code" formControlName="zipcode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="language">Select Language</label>
                        <select multiple class="form-control" formControlName="language">
                            <option>English</option>
                            <option>Urdu</option>
                            <option>Hindi</option>
                            <option>Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-inline" formControlName="gender" value="Male">
                            <label for="male" class="form-check-inline">Male</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-inline" formControlName="gender" value="female">
                            <label for="female" class="form-check-inline">Female</label>
                        </div>
                        <div class="form-check-inline">
                            <input  type="radio" class="form-check-inline" formControlName="gender" value="others">
                            <label for="others" class="form-check-inline">Others</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="somthingAboutYou">Something About You</label>
                        <textarea class="form-control" rows="3" formControlName="aboutyou"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="uploadPhoto">Upload your Photo</label>
                        <input type="file" class="form-control" formControlName="uploadPhoto">
                    </div>
                    <div class="form-group">
                       
                        <input type="checkbox" class="form-check-inline" formControlName="agreetc">
                        <label for="agreetc">Terms and Conditions</label>
                    </div>
                    <div class="form-group">
                        <label for="role">What Do you Want</label>
                        <select multiple class="form-control" formControlName="role">
                            <option value="Admin">Admin</option>
                            <option value="Buyer">Buyer</option>
                            <option value="seller">Seller</option>
                            <option>Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" >Register</button>
                    </div>
                </form>
                <!--Login Form Here-->
                <a class="sim-pointer" routerLink="/sign-in">Already Have Acccount Click Here To Log-In</a>
            </div>
            <div class="col-md6 offset-md-3" *ngIf="!regForm">
                <h3>Log In</h3>
                <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onsubmitSignIn()" novalidate>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" placeholder="Enter Email" name="userEmail" [(ngModel)]="singInFormValue.userEmail" #userEmail="ngModel" required Email>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" placeholder="Enter password" name="userPassword" [(ngModel)]="singInFormValue.userPassword"  #userPassword="ngModel"  minlength="6" togglePassword>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Log IN</button>
                    </div>
                </form>
                <a class="sim-pointer" routerLink="/sign-up"> Don't Have Acccount Click Here To Resgister</a>
            </div>
        </div>
    </div>
</div>